<h1 class="title">Lorem ipsum dolor sit amet</h1>
<h2 class="subtitle">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et ante vitae
  nunc hendrerit faucibus.
</h2>
<div class="date">
  <p class="date-content">
    <time>June 1, 2020</time>
  </p>
</div>
<div class="spacer"></div>
<div class="content-body">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus eros
    purus, at auctor justo ullamcorper quis.
  </p>
  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus
      eros purus, at auctor justo ullamcorper quis. Vivamus consectetur, neque
      at aliquam consequat, augue sem dictum nisl, eu efficitur lacus ligula
      eget nibh
    </p>
  </blockquote>
  <p>
    <span class="image-wrapper">
      <img class="image-responsive" src="images/organic.png" />
    </span>
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus eros
    purus, at auctor justo ullamcorper quis. Vivamus consectetur, neque at
    aliquam consequat, augue sem dictum nisl, eu efficitur lacus ligula eget
    nibh. In orci felis, facilisis non posuere sit amet, condimentum congue mi.
    Nunc blandit eu ante at feugiat
  </p>
  <p>
    <span class="image-wrapper">
      <img class="image-responsive" src="images/photo.jpg" />
    </span>
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus eros
    purus, at auctor justo ullamcorper quis. Vivamus consectetur, neque at
    aliquam consequat, augue sem dictum nisl, eu efficitur lacus ligula eget
    nibh. In orci felis, facilisis non posuere sit amet, condimentum congue mi.
    Nunc blandit eu ante at feugiat
  </p>
  <div class="twitter-tweet">
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        everyone else when lockdown : doing productive.<br />me: *sad cyrilic
        noises* <a href="https://t.co/uDS9x72ZTL">pic.twitter.com/uDS9x72ZTL</a>
      </p>
      &mdash; Адитья Бекти Нугрохо (@adityabekn_)
      <a
        href="https://twitter.com/adityabekn_/status/1272511959884132358?ref_src=twsrc%5Etfw"
        >June 15, 2020</a
      >
    </blockquote>
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus eros
    purus, at auctor justo ullamcorper quis. Vivamus consectetur, neque at
    aliquam consequat, augue sem dictum nisl, eu efficitur lacus ligula eget
    nibh. In orci felis, facilisis non posuere sit amet, condimentum congue mi.
    Nunc blandit eu ante at feugiat
  </p>
</div>
