<!-- Nav Left -->
<div class="nav-left">
  <div class="author-nav">
    <div class="author-nav__container">
      <a class="author-nav__photo" href="/">
        <img src="favicon.png" alt="Aditya Bekti" width="48" height="48" />
      </a>
      <div class="author-nav__name">
        <h4 class="author-nav__name-header">
          <a class="author-nav__name-header-link" href="/">Aditya Bekti</a>
        </h4>
      </div>
    </div>
  </div>
</div>

<!-- Nav Right -->
<div class="nav-right">
    <div class="menu-nav">
        <ul class="menu-nav__list">
            <li class="menu-nav__list-item">
                <a class="menu-nav__list-item-link" href="/dev">Dev</a>
            </li>
            <li class="menu-nav__list-item">
                <a class="menu-nav__list-item-link" href="/design">Design</a>
            </li>
            <li class="menu-nav__list-item">
                <a class="menu-nav__list-item-link" href="/exp">Experience</a></li>
            <li class="menu-nav__list-item">
                <a class="menu-nav__list-item-link" href="/more">More</a>
            </li>
        </ul>
    </div>
</div>
