<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head') %>
  </head>
  <body>
    <div style="height: 60px;">
      <nav>
        <%- include ('../partials/nav') %>
      </nav>
    </div>
    <div class="layout">
      <div>
        <article class="content">
          <%- include ('../partials/content') %>
        </article>
        <footer class="footer">
          asdsadasdasd
        </footer>
      </div>
    </div>
  </body>
</html>
